<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguiars Code</title>
    <!--Css-->
    <link rel="stylesheet" href="/styles/globals.css">
    <!--BootStrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <header class="bg-dark text-white p-3">
      <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
          <div>
            <h1> Blog Aguiar </h1>
          </div>
          <div class="d-flex column-gap-3 flex-wrap">
            <form role="search">
              <input class="form-control border border-secondary" placeholder="Pesquisar" type="search" aria-label="Search">
            </form>

            <div>
              <button type="button" class="btn btn-secondary">Login</button>
              <button type="button" class="btn btn-secondary">Inscrever-se</button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <nav class="p-1 bg-secondary text-white">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/about">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/contact">Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/post">Criar postagem</a>
            </li>
          </ul>
    </nav>
    