<%- include("partials/header"); -%>
<main>
    <div>
        <% items.forEach( (object) => { %>
            <div>
                <h1> <%= object.postHeader %> </h1>
                <p> <%= object.postContent %> </p>
            </div>
        <% }) %>
    </div>
</main>
<%- include("partials/footer"); -%>